@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container .checkbox {
  display: none; 
}

.nav-container .hamburger-lines {
  display: none; 
}

.logo {
  font-size: 1.2rem;
  color: #0e2431;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.menu-items li {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

footer {
  background-color: #0e2431;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.footer-section {
  flex: 1;
  margin: 20px;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-section p,
.footer-section ul {
  font-size: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  margin: 0 10px;
}

.social-links img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 0.9rem;
}


.about {
  margin: 100px;
  padding: 100px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
